@charset "UTF-8";
h3 {
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif
}
p, h1 {
  color: #006282;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 0.01rem #f5f5f5;
}
html {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #006282, #000000);
    border-bottom: 1px solid #f5f5f5;
    h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #000000, #333333);
    #quadros {
      div {
        padding: 10px;
        border-radius: 10px;
        box-shadow: red 2px 2px 10px;
      }
    }
  }
}